<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta http-equiv='content-language' content='ko'>
{% if page.layout == 'wiki' or page.layout == 'post' or page.layout == 'page' %}
	<meta name="description" content="{{ page.content | strip_html | normalize_whitespace | truncate: 160 }}">
{% elsif site_desc %}
	<meta name="description" content="{{ site_desc }}">
{% elsif page.summary %}
	<meta name="description" content="{{ page.summary }}">
{% else %}
	<meta name="description" content="{{ page.title }}">
{% endif %}

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if site_title %}{{ site_title }}{% else %}{{ page.title }}{% endif %}">
{% if page.layout == 'wiki' or page.layout == 'post' or page.layout == 'page' %}
	<meta name="og:description" content="{{ page.content | strip_html | normalize_whitespace | truncate: 160 }}">
{% elsif site_desc %}
	<meta name="og:description" content="{{ site_desc }}">
{% elsif page.summary %}
	<meta name="og:description" content="{{ page.summary }}">
{% else %}
	<meta name="og:description" content="{{ page.title }}">
{% endif %}
    <meta property="og:image" content="{{ site.url }}/resource/vimwiki.png">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.summary }}" />

	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/resource/icon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/resource/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/resource/icon/favicon-16x16.png">
	<link rel="manifest" href="{{ site.url }}/resource/icon/site.webmanifest">
	<link rel="mask-icon" href="{{ site.url }}/resource/icon/safari-pinned-tab.svg" color="#333333">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Naver search advisor -->
	<meta name="robots" content="index,follow" />
{% if site.google_analytics.ua %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.ua }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics.ua }}');
    </script>
{% endif %}
{% if site.google_adsense.client %}
	<script data-ad-client="{{ site.google_adsense.client }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endif %}
	<meta name="naver-site-verification" content="6fd844ad34bc9b753cae7e0a02491b03b51c9656" />

</head>
<header class="header">
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a class="navbar-brand" href="{{ site.baseurl }}/">
			<img src="/resource/icon/favicon-32x32.png" width="28" height="28" loading="lazy">
			{{ site.title }}
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item {% if page.url contains '/wiki/' %}active{% endif %}">
					<a class="nav-link" href="/wiki/index/">wiki</a>
				</li>
				<li class="nav-item {% if page.url contains '/blog/' %}active{% endif %}">
					<a class="nav-link" href="/blog/">blog</a>
				</li>
				<li class="nav-item {% if page.url=='/tag/' %}active{% endif %}">
					<a class="nav-link" href="/tag/">tag</a>
				</li>
				<li class="nav-item {% if page.url=='/about/' %}active{% endif %}">
					<a class="nav-link" href="/about">me</a>
				</li>
			</ul>
			{% if page.url!='/search/' %}
			<form role="search" class="form-inline my-2 my-lg-0" method="get" action="/search/">
				 <input name="searchString" class="form-control mr-sm-2" placeholder="검색하세요" type="text">
				 <input type="submit" class="btn btn-outline-dark" value="Search">
			</form>
			{% endif %}
		</div>
</nav>
</header>
<script>
;(function(){
    var isCtrl = false;

    document.onkeyup=function(e){
        if (e.which == 17) {
            isCtrl = false;
        }
    }

    document.onkeydown=function(e){
        if(e.which == 17) {
            isCtrl = true;
        }
        if(e.which == 82 && isCtrl == true) { // ctrl + r for random post
            document.getElementById("random-button").click();
        }
    }
})();
</script>
