---
layout: default
title: blog
public: true
---

<div>
    <h1>Blog</h1>

{% include pagination.html %}

    <ul>
{% for post in paginator.posts %}
    {% if post.public == true %}
        <li class="blog-list">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <span>{{ post.title }}</span>
                <div style="float: right;">{{ post.date | date: "%Y.%m.%d" }}</div>
                {% if post.summary != nil or post.summary.blank? %}
                <div>- {{ post.summary }}</div>
                {% endif %}
            </a>
                <div class="post-tag">
                    {{post.tags}}
                </div>
        </li>
    {% endif %}
{% endfor %}
    </ul>

{% include pagination.html %}
{% include createLink.html %}
</div>
